<!DOCTYPE html>
<head>
    {% load static %}
    {% load i18n %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/form.js' %}"></script>
    <title>{% trans "Pdf generator" %}</title>
</head>
<body>
<form class="form">
    <input class="input input-upload mb-20" id="upload-pdf" type="file"/>
    <p class="text-divider mb-20">OR</p>
    <label class="label" for="web-url">{% trans "Web Url" %}</label>
    <input class="input input-text" id="web-url" type="text">
    <p class="text-error mb-20" id="error">
    </p>

    <button class="input button" id="upload"><p id="button-text">{% trans "Upload" %}</p>
        <div id="loader"></div>
    </button>
    <p class="text-success mb-20" id="text-success">

    </p>

</form>
</body>
</html>
